page-home {
    .spending-total {
        font-size: 3em;
        font-weight: bolder;
        color: #990066;
    }

    ion-title {
        font-family: 'Pacifico';
    }

    .getting-started-header {
        font-family: 'Pacifico';
        color: #990066;
    }
}
