<ion-header>
  <ion-navbar color="primary">
    <ion-title>Customize Options</ion-title>
    <ion-buttons end>
      <toolbar-chip></toolbar-chip>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider no-lines></ion-item-divider>
    <ion-list-header no-lines>Payment Methods</ion-list-header>
    <ion-item-sliding *ngFor="let paymentMethod of paymentMethods">
      <ion-item>{{paymentMethod}}</ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary">
          <ion-icon name="ios-create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger">
          <ion-icon name="ios-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-divider no-lines></ion-item-divider>
    <ion-list-header no-lines>Categories</ion-list-header>
    <ion-item-sliding *ngFor="let category of categories">
      <ion-item>{{category}}</ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary">
          <ion-icon name="ios-create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger">
          <ion-icon name="ios-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
