<ion-header>
  <ion-navbar color="primary">
    <ion-title>Customize Options</ion-title>
    <ion-buttons end>
      <toolbar-chip></toolbar-chip>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider no-lines></ion-item-divider>
    <ion-list-header no-lines>Payment Methods</ion-list-header>
    <ion-item *ngFor="let pm of aubergineService.paymentMethods">
      {{pm.name}}
    </ion-item>
    <ion-item-divider no-lines></ion-item-divider>
    <ion-list-header no-lines>Categories</ion-list-header>
    <ion-item *ngFor="let c of aubergineService.categories" (click)="alertCategoryInfo(c)">
      {{c.name}}
      <ion-icon name="information-circle" color="secondary" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
